<main>
    <body class="about-us">
        <!--Christy-->
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="Christy">
            <div class="card-body">
                <h5 class="card-title">Christy</h5>
                <p class="card-text">Christy's fav diy projects are: </p>
                <a href="https://github.com/appletom" class="btn btn-primary">Github</a>
            </div>
        </div>
        <!--Alexia-->
        <div class="card" style="width: 18rem;">
            <img src="https://ca.slack-edge.com/T0569RDC6-U0156RMS5C3-84386e0d5b91-512" class="card-img-top"
                alt="Alexia">
            <div class="card-body">
                <h5 class="card-title">Alexia</h5>
                <p class="card-text">Alexia's fav diy projects are: </p>
                <a href="https://github.com/allawa1" class="btn btn-primary">Github</a>
            </div>
        </div>
        <!--Daisy-->
        <div class="card" style="width: 18rem;">
            <img src="https://ca.slack-edge.com/T0569RDC6-USCQL79D0-691963687684-512" class="card-img-top" alt="Daisy">
            <div class="card-body">
                <h5 class="card-title">Daisy</h5>
                <p class="card-text">Daisy's fav diy projects are: knitting and jewelry making </p>
                <a href="https://github.com/daisy-u" class="btn btn-primary">Github</a>
            </div>
        </div>
    </body>
</main>