<footer>
  <nav class="navbar navbar-light" style="background-color: #b484a3;">
    &copy; Christy, Alexia, Daisy, DigitalCrafts 2020.
  </nav>

  <nav class="credits">
    Icons made by <a href="https://www.flaticon.com/authors/dmitri13" title="dmitri13">dmitri13</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
  </nav>

</footer>