<!--- Link CSS Stylesheet -->
<link rel="stylesheet" href="././css/styles.css">



<form>
  <div class="container">
    <div class="card blog">
      <div class="blog-container">
        <div class="form-popup">
          <form class="form-container">
            <div class="dateTime">
              <h4><label for="dateTime">Today's Date: </label></h4>​​​
              <H4 id="timeStamp"></H4>
            </diV>

            <div class="Username">
              <label for="Username">Username: </label>
              <input type="text" placeholder="" name="Username" required>
            </div>

            <div class="Password">
              <label for="Password">Password: </label>
              <input type="text" placeholder="" name="Password" required>
            </div>
        </div>
      </div>
</form>