<header> 
    <nav id="navbar-example2" class="navbar navbar-light" style="background-color: #b484a3;">
        <a class="navbar-brand" href="#">
            <h3> PINSTER </h3>
        </a>
        
        <div class="nav nav-pills nav-fill" id="navbarSupportedContent">
            <ul class="nav nav-pills nav-fill">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="/dashboard" tabindex="-1" aria-disabled="true">Dashboard</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/login">Login<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about-us">About Us</a>
                </li>
            </ul>
        </div>
    </nav>
</header>