<!--- Link CSS Stylesheet -->
<link rel="stylesheet" href="././css/styles.css">



<header> 
    <nav id="navbar-example2" class="navbar navbar-light" style="background-color: white;">
        <a class="navbar-brand" href="#">
            <img src="public/img/Pinster logo.png" width="30" height="30" class="d-inline-block align-top" alt="PINSTER" loading="lazy">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav nav-pills nav-fill">
                <li class="nav-item active">
                    <a class="nav-link" href="/Home">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/Dashboard">Dashboard</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/Login">Login</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/AboutUs">About Us</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search for projects" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
</header>