<header> 
    <nav id="navbar-example2" class="navbar navbar-light" style="background-color: #b484a3;">
        <a class="navbar-brand" href="#">
            <h3> PINSTER </h3>
        </a>
        
        <div class="nav nav-pills nav-fill" id="navbarSupportedContent">
            <ul class="nav nav-pills nav-fill">
                <li class="nav-item active">

                    <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/dashboard">Dashboard</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/about-us">About Us</a>

                </li>
            </ul>
            <form action="./search" method="GET" class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" name="search" type="search" placeholder="Search for projects" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" id="searchBtn" type="submit">Search</button>
            </form>
        </div>
    </nav>
</header>