<main>
    <body class="projects">

    <ul>
        <li>project</li>
        <li>project</li>
        <li>project</li>
        <li>project</li>
        <li>project</li>
        <li>project</li>
    </ul>

    </body>
</main>