
<!--- Link CSS Stylesheet -->
<link rel="stylesheet" href="././css/styles.css">
<link class="jsbin" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>



<main>
  <body class="user-dashboard">

<!--First div to hold users information. Flex to left of page-->
<div class="container">
<div class="row">
<div class="col-sm-6">
  <div class="user-profile-div">
    <div class="user-profile-img-btn">

      <div class="user-profile-img">
        <div class="img-div ">
          <img src="#" class="img-profile" id="img-id" alt="Profile Picture" height="150x" width="200px"  background-color="gray">
        </div>

        <div class="upload-btn">
          <input type="file" id="upload-file" name="Upload" value="Upload" onchange="loadFile(this)">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-sm-6">
    <div class="card-body">
    <div class="user-profile-info ">
      <div class="user-profile-items">
        <h3 class="ul-profile-item">Username</h3>
        <h5 class="ul-profile-item">First Name</h5>
        <p class="ul-profile-item">Something user related</p>
      </div>
    </div>
    </div>
</div>
</div>



<!--Second div to show current projects. Middle of page-->

  <div class="current-user-projects">
    <div class="row row-cols-8 ">
 
 
      <!-- <div class="col mb-4">
        <div class="card h-100">
        <a class="card-block stretched-link text-decoration-none" href>
          <img src="#" class="card-img" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
          </div>
        </a>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card h-100">
        <a class="card-block stretched-link text-decoration-none" href>
          <img src="#" class="card-img" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a short card.</p>
          </div>
        </a>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card h-100">
  
        <a class="card-block stretched-link text-decoration-none" href>
          <img src="" class="card-img" alt="">
          <div class="card-body">
            <h5 class="card-title">Card Title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
              content.</p>
          </div>
        </a>  

        </div>
      </div>
      <div class="col mb-4">
        <div class="card h-100">
        <a class="card-block stretched-link text-decoration-none" href>
          <img src="#" class="card-img" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
          </div>
        </a>
        </div>
      </div> -->



      <div class="col mb-4">
        <div class="card h-100 new-project-class">
          <div class="card-body new-project-content" id="new-project-id">         
            <button class="btn btn-modal btn-continue" data-dismiss="modal">
            <h5 class="add-new-project">Add New Project</h5>
            <img src="././img/plus.png" class="card-img new-project-img" alt="...">
            </a>          
            
            <a class="card-block stretched-link text-decoration-none" href="/projects"></a>  
            </button>
          </div>

        </div>
      </div>          
    </div>
  </div>


<!--Third div to show completed projects. Flex to right of page-->
<!-- <div class="completed-user-projects">
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left text-decoration-none" type="button" data-toggle="collapse"
            data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Completed Project 1
          </button>
        </h2>
      </div>

      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
          moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
          Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
          shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
          proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
          aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed text-decoration-none" type="button" data-toggle="collapse"
            data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Completed Project 2
          </button>
        </h2>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
          moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
          Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
          shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
          proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
          aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed text-decoration-none" type="button" data-toggle="collapse"
            data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Completed Project 3
          </button>
        </h2>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
          moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
          Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
          shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
          proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
          aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
      </div>
    </div>
     -->
  </div>
</div>

</body>


<% // uploads file to profile %>
<script>
function loadFile(input) {
  if (input.files && input.files[0]) {
      var reader = new FileReader();

      reader.onload = function (e) {
          $('#img-id')
              .attr('src', e.target.result);
      };

      reader.readAsDataURL(input.files[0]);
  }  
}

</script>


<% // gets add new project to user dashboard %>
<script>

  var addNewProject = document.getElementById('new-project-id');
  var projectBtn = document.getElementById('btn-id');
  projectBtn.onclick =function() {
    addNewProject.style.display="block";
  }
// function openProjects() {

//   addNewProject.style.display="block";

// openProjects()


</script>

</main>