//First div to hold users information. Flex to left of page
<div class="user-profile-info">
    <side> Div 1 </side>
</div>

//Second div to show current projects. Middle of page
<div class="current-user-projects">
    <side> Div 2 </side>
</div>

//Third div to show completed projects. Flex to right of page
<div class="completed-user-projects">
    <side> Div 3 </side>
</div>