* {
    color: slategray;

}

/* user info styling */
/*background color for references-*/
.user-profile-img-btn{
    /*background-color: silver;*/
    margin-bottom: 10%;
    margin-left: 25%;
}


.img-div, img {
    display: block;
    border-radius: 20%;
    margin: 5%;
}


.user-profile-info {
    /*background-color: lightgray;*/
    margin-top: 20%;

}


/* all blogs */
.blog_name {
    text-align: center;
}


/* in-progress projects */
.current-user-projects {
    text-align: center;
}

.add-new-div {
    padding: 10%;
}

.h-100:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);  
}

.deletebtn {
    margin: 5%;
}

.deletebtn:hover {
    font-weight:bold;
    -webkit-transform: scale(1.1); 
    color: red;
}

.completedbtn {
    float: right;
    margin: 5%;    
}

.completedbtn:hover {
    font-weight:bold;
    -webkit-transform: scale(1.1); 
}

.add-new-div {
    display: none;
}

.new-project-class {
    text-align: center;
    background-color: transparent;
}

.new-project-content {
    a
}
.new-project-img {

    width: 25%;
    margin-left: 35%;
}


/* completed projects */
.completed-user-projects {
    margin: 2% auto;
}


/* footer */

.credits {
    text-align: center;
    font-size: small;
}


/* blogs.ejs */
.addToDash:hover {
    box-shadow: white;
}