* {
    color: slategray;
}


/* user info styling */
/*background color for references-*/
.user-profile-pic {
background-color: silver;
}

.user-profile-items {
background-color: lightgray;
}




/* completed projects styling */
.card-header, .btn-link {
    background-color: #b484a3;
    color: white;
}

