* {
    color: slategray;

}

/* user info styling */
/*background color for references-*/
.user-profile-img-btn{
    /*background-color: silver;*/
    margin-bottom: 10%;
    margin-left: 25%;
}


.img-div, img {
    display: block;
    border-radius: 20%;
    margin: 5%;
}


.user-profile-info {
    /*background-color: lightgray;*/
    margin-top: 20%;

}




/* in-progress projects */
.current-user-projects {
    margin-top: 2%;
}



.h-100:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);  
}

.deletebtn {
    margin: 5%;
}

.deletebtn:hover {
    font-weight:bold;
    -webkit-transform: scale(1.1); 
    color: red;
}

.completedbtn {
    float: right;
    margin: 5%;    
}

.completedbtn:hover {
    font-weight:bold;
    -webkit-transform: scale(1.1); 
}



.new-project-header {
    padding-top: 10%;
    text-align: center;
}

.new-project-img {
    height: 40%;
    width: 25%;
    margin-left: 35%;
}


/* completed projects */
.completed-user-projects {
    margin: 2% auto;
}


/* footer */

.credits {
    text-align: center;
    font-size: small;
}